*/bridge-code
*csi.dat
(*/)*csi.dat
*.out
bridge-code/src/bridge-code
bridge-code/src/csi.dat
facial-recognition/openCV/basic-video-recognition/CMakeCache.txt
facial-recognition/openCV/basic-video-recognition/CMakeFiles/
facial-recognition/openCV/basic-video-recognition/Makefile
facial-recognition/openCV/basic-video-recognition/cmake_install.cmake
facial-recognition/openCV/face-detect--image/Makefile
facial-recognition/openCV/face-detect--image/facedetect
facial-recognition/openCV/basic-video-recognition/facerec_video
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
train_classifier
facial-recognition/openCV/data/yalefaces/
facial-recognition/openCV/data/yalefaces/create-folder-tree.sh
facial-recognition/openCV/data/yalefaces/Readme.txt
facial-recognition/openCV/data/yalefaces/subject01
facial-recognition/openCV/data/yalefaces/subject02
facial-recognition/openCV/data/yalefaces/subject03
facial-recognition/openCV/data/yalefaces/subject04
facial-recognition/openCV/data/yalefaces/subject05
facial-recognition/openCV/data/yalefaces/subject06
facial-recognition/openCV/data/yalefaces/subject07
facial-recognition/openCV/data/yalefaces/subject08
facial-recognition/openCV/data/yalefaces/subject09
facial-recognition/openCV/data/yalefaces/subject10
facial-recognition/openCV/data/yalefaces/subject11
facial-recognition/openCV/data/yalefaces/subject12
facial-recognition/openCV/data/yalefaces/subject13
facial-recognition/openCV/data/yalefaces/subject14
facial-recognition/openCV/data/yalefaces/subject15
facial-recognition/openCV/*Makefile
facial-recognition/openCV/augment-data/Makefile
facial-recognition/openCV/pad-images/Makefile
facial-recognition/openCV/train-classifier/Makefile
facial-recognition/openCV/pad-images/pad_images
facial-recognition/openCV/augment-data/augment_data
bridge-code/lol-test.sh
facial-recognition/openCV/data/yalefaces--tree-structure-backup/
facial-recognition/training-data/yalefaces
