*/bridge-code
bridge-code/src/bridge-code
bridge-code/src/csi.dat
facial-recognition/basic-video-recognition/CMakeCache.txt
facial-recognition/basic-video-recognition/CMakeFiles/
facial-recognition/basic-video-recognition/Makefile
facial-recognition/basic-video-recognition/cmake_install.cmake
facial-recognition/face-detect--image/Makefile
facial-recognition/face-detect--image/facedetect
facial-recognition/basic-video-recognition/facerec_video
*CMakeCache.txt
*CMakeFiles/
*cmake_install.cmake
train_classifier
facial-recognition/data/yalefaces/
facial-recognition/data/yalefaces/create-folder-tree.sh
facial-recognition/data/yalefaces/Readme.txt
facial-recognition/data/yalefaces/subject01
facial-recognition/data/yalefaces/subject02
facial-recognition/data/yalefaces/subject03
facial-recognition/data/yalefaces/subject04
facial-recognition/data/yalefaces/subject05
facial-recognition/data/yalefaces/subject06
facial-recognition/data/yalefaces/subject07
facial-recognition/data/yalefaces/subject08
facial-recognition/data/yalefaces/subject09
facial-recognition/data/yalefaces/subject10
facial-recognition/data/yalefaces/subject11
facial-recognition/data/yalefaces/subject12
facial-recognition/data/yalefaces/subject13
facial-recognition/data/yalefaces/subject14
facial-recognition/data/yalefaces/subject15
facial-recognition/*Makefile
facial-recognition/augment-data/Makefile
facial-recognition/pad-images/Makefile
facial-recognition/train-classifier/Makefile
facial-recognition/pad-images/pad_images
facial-recognition/augment-data/augment_data
bridge-code/lol-test.sh
facial-recognition/data/yalefaces--tree-structure-backup/
facial-recognition/training-data/yalefaces
facial-recognition/face-detect/Makefile
facial-recognition/face-detect/facedetect
facial-recognition/face-detect/face_detect
facial-recognition/augment-data/yalefaces.csv__thread--0
facial-recognition/augment-data/yalefaces.csv__thread--1
facial-recognition/augment-data/yalefaces.csv__thread--2
facial-recognition/augment-data/yalefaces.csv__thread--3
facial-recognition/data/yalefaces--augmented-backup/
facial-recognition/pad-images/libpad_image_lib.a
facial-recognition/pad-images/libpad_images_lib.a
facial-recognition/train-classifier/facial-recognition-model
facial-recognition/face-detect/libface_detect_lib.a
facial-recognition/full-preprocessing/CMakeFiles/
facial-recognition/full-preprocessing/CMakeCache.txt
facial-recognition/full-preprocessing/cmake_install.cmake
facial-recognition/full-preprocessing/Makefile
facial-recognition/full-preprocessing/full_preprocessing
facial-recognition/full-preprocessing/face-detect/
injection-monitor/packets_from_file
injection-monitor/util.o
facial-recognition/basic-video-recognition/facial-recognition-model--eigen
facial-recognition/basic-video-recognition/facial-recognition-model--eyewear
facial-recognition/basic-video-recognition/facial-recognition-model--eyewear--eigen
facial-recognition/basic-video-recognition/facial-recognition-model--lbph
facial-recognition/basic-video-recognition/facial-recognition-model--lbph--12-neighbors
facial-recognition/basic-video-recognition/facial-recognition-model--lbph--16-neighbors
facial-recognition/basic-video-recognition/facial-recognition-model--MEDIUM
facial-recognition/basic-video-recognition/facial-recognition-model--SMALL
facial-recognition/basic-video-recognition/facial-recognition-model--YUGE
facial-recognition/data/yalefaces--eyewear--backup/
facial-recognition/basic-video-recognition/new-facial-recognition-model
facial-recognition/training-data/
injection-monitor/.lgtm-top-aoas
test-data/three-antenna-test.dat
facial-recognition/full-preprocessing/yalefaces.csv
csi-code/spotfi.m~
csi-code/test-code/spotfi_test.m~
facial-recognition/lgtm-recognition/CMakeFiles/2.8.12.2
facial-recognition/lgtm-recognition/CMakeFiles/cmake.check_cache
facial-recognition/lgtm-recognition/CMakeFiles/CMakeDirectoryInformation.cmake
facial-recognition/lgtm-recognition/CMakeFiles/CMakeOutput.log
facial-recognition/lgtm-recognition/CMakeFiles/CMakeTmp
facial-recognition/lgtm-recognition/CMakeFiles/lgtm_facial_recognition.dir
facial-recognition/lgtm-recognition/CMakeFiles/Makefile2
facial-recognition/lgtm-recognition/CMakeFiles/Makefile.cmake
facial-recognition/lgtm-recognition/CMakeFiles/progress.marks
facial-recognition/lgtm-recognition/CMakeFiles/TargetDirectories.txt
facial-recognition/lgtm-recognition/cmake_install.cmake
facial-recognition/lgtm-recognition/Makefile
facial-recognition/lgtm-recognition/CMakeCache.txt
facial-recognition/lgtm-recognition/lgtm_facial_recognition
facial-recognition/lgtm-recognition/new-facial-recognition-model
facial-recognition/Makefile
injection-monitor/log-to-file/bf_to_eff.o
injection-monitor/log-to-file/iwl_nl.o
injection-monitor/log-to-file/q_approx.o
injection-monitor/log-to-file/util.o
injection-monitor/log-to-file/get_first_bfee
injection-monitor/log-to-file/log_to_file
injection-monitor/log-to-file/nl_bf_to_eff
injection-monitor/log-to-file/parse_log
injection-monitor/log-to-file/print_packets
injection-monitor/packets-from-file/packets_from_file
injection-monitor/packets-from-file/util.o
.injection-monitor/lgtm-begin-monitor.dat
.injection-monitor/lgtm-begin-protocol
.injection-monitor/lgtm-facial-recognition-params
.injection-monitor/lgtm-facial-recognition-training-photo-paths.csv
.injection-monitor/lgtm-facial-recognition-training-photos
.injection-monitor/lgtm-monitor.dat
.injection-monitor/lgtm-received-facial-recognition-params
.injection-monitor/lgtm-received-facial-recognition-params--no-header
.injection-monitor/lgtm-received-facial-recognition-params--no-header--no-footer
.injection-monitor/lgtm-received-facial-recognition-params--no-header--no-footer-dir
.injection-monitor/lgtm-top-aoas
csi-code/csi_sampling.m~
injection-monitor/.lgtm-begin-monitor.dat
injection-monitor/.lgtm-begin-protocol
injection-monitor/.lgtm-facial-recognition-params
injection-monitor/.lgtm-facial-recognition-training-photo-paths.csv
injection-monitor/.lgtm-facial-recognition-training-photos
injection-monitor/.lgtm-monitor.dat
injection-monitor/.lgtm-received-facial-recognition-params
injection-monitor/.lgtm-received-facial-recognition-params--no-header
injection-monitor/.lgtm-received-facial-recognition-params--no-header--no-footer
cryptography/lgtm_crypto_runner
cryptography/.lgtm-crypto-params-computed-key
cryptography/.lgtm-crypto-params-other-public-key
cryptography/.lgtm-crypto-params-private-key
cryptography/.lgtm-crypto-params-public-key
cryptography/.lgtm-crypto-params-shared-secret
cryptography/.lgtm-crypto-params-verification-mac
cryptography/.lgtm-facial-recognition-params
cryptography/.lgtm-facial-recognition-params--decrypted
cryptography/.lgtm-facial-recognition-params--encrypted
cryptography/.lgtm-received-facial-recognition-params
cryptography/lgtm_crypto_runner_test
cryptography/.lgtm-received-facial-recognition-params--decrypted
cryptography/.lgtm-test-unencrypted-received-facial-recognition-params
cryptography/.lgtm-crypto-params-facial-recognition-other-verification-mac
cryptography/.lgtm-crypto-params-facial-recognition-verification-mac
cryptography/.lgtm-crypto-params-other-verification-mac
cryptography/.lgtm-crypto-params-encrypted-other-verification-hash
cryptography/.lgtm-crypto-params-encrypted-verification-hash
cryptography/.lgtm-crypto-params-facial-recognition-other-verification-hash
cryptography/.lgtm-crypto-params-facial-recognition-verification-hash
cryptography/.lgtm-crypto-params-first-message
cryptography/.lgtm-crypto-params-first-message-random-number
cryptography/.lgtm-crypto-params-first-message-reply
cryptography/.lgtm-crypto-params-other-first-message-random-number
cryptography/.lgtm-crypto-params-other-second-message-random-number
cryptography/.lgtm-crypto-params-other-verification-hash
cryptography/.lgtm-crypto-params-second-message
cryptography/.lgtm-crypto-params-second-message-random-number
cryptography/.lgtm-crypto-params-second-message-reply
cryptography/.lgtm-crypto-params-third-message-reply
cryptography/.lgtm-crypto-params-verification-hash
cryptography/.lgtm-test-facial-recognition-other-verification-hash
cryptography/.lgtm-test-facial-recognition-params-with-hash
cryptography/.lgtm-test-other-first-message-random-number
cryptography/.lgtm-test-other-public-key
cryptography/.lgtm-test-other-second-message-random-number
cryptography/.lgtm-test-other-verification-hash
cryptography/.lgtm-test-second-message
cryptography/.lgtm-test-second-message-reply
cryptography/.lgtm-test-third-message-reply
cryptography/.LGTM-HASH-TEST
cryptography/.lgtm-facial-recognition-params-with-hash
cryptography/.lgtm-received-facial-recognition-params-with-hash--decrypted
injection-monitor/.lgtm-crypto-params-first-message
injection-monitor/.lgtm-crypto-params-first-message-random-number
injection-monitor/.lgtm-crypto-params-private-key
injection-monitor/.lgtm-crypto-params-public-key
injection-monitor/.lgtm-crypto-params-first-message-reply
injection-monitor/.lgtm-crypto-params-third-message
injection-monitor/.lgtm-crypto-params-third-message-reply
injection-monitor/.lgtm-first-message
injection-monitor/.lgtm-first-message-reply
injection-monitor/.lgtm-monitor-first-message-reply.dat
injection-monitor/.lgtm-monitor-third-message.dat
injection-monitor/.lgtm-third-message
injection-monitor/.lgtm-crypto-params-computed-key
injection-monitor/.lgtm-crypto-params-other-first-message-random-number
injection-monitor/.lgtm-crypto-params-other-public-key
injection-monitor/.lgtm-crypto-params-shared-secret
