.lgtm-begin-monitor.dat
.lgtm-begin-protocol
.lgtm-facial-recognition-params
.lgtm-facial-recognition-training-photo-paths.csv
.lgtm-facial-recognition-training-photos
.lgtm-monitor.dat
.lgtm-received-facial-recognition-params
.lgtm-received-facial-recognition-params--no-header
.lgtm-received-facial-recognition-params--no-header--no-footer
.lgtm-received-facial-recognition-params--no-header--no-footer-dir
.lgtm-top-aoas
